<div class="shop_header">
	<h1 class="shop_title">FOR THE TREES!</h1>
</div>
<div class="shop_display">
	<div class="row">
		<div class="col-md-4 center">
			<div class="shop_box1">
				<div class="shop_inner">
					<i class="fa fa-tree fa-5x shop_im"></i><br>
					<p>One Tree</p>
					<%= link_to "Donate", root_path,{class:"btn btn-primary btn-xl page-scroll shop_btn"} %>
				</div>
			</div>
		</div>
		<div class="col-md-4 center">
			<div class="shop_box2">
				<div class="shop_inner">
				<i class="glyphicon glyphicon-tree-conifer fa-5x shop_im"></i><br>
				<p>Some Trees</p>
				<%= link_to "Donate",root_path,{class:"btn btn-primary btn-xl page-scroll shop_btn"} %>
			</div>
			</div>
		</div>
		<div class="col-md-4 center">
			<div class="shop_box3">
				<div class="shop_inner">
				<i class="glyphicon glyphicon-tree-deciduous fa-5x shop_im"></i><br>
				<p>Dude, thats a forrest!</p>
				<%= link_to "Donate",root_path,{class:"btn btn-primary btn-xl page-scroll shop_btn"} %>
			</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<div class="donate center">
			<%= link_to "Donate $$$", root_path, class:"shop_donate"%>
	</div>
</div>