<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Reseeding the Ashes:<br> A Cooperation Initiative</h1>
            <hr class="green_bg">
            <p>Ever since the war in the 90s, Bosnia and Herzegovina has been divided both politically and socially. We believe that in order to overcome this division, the new generations of this country should be more educated and respectful towards each other and the environment they live in. One way to achieve this is to unite and cooperate them for a better purpose, a better purpose which will leave a platform for cooperation and mutual understanding.</p>
            <%= link_to "Donate a Tree!", shop_index_path,  {class:"btn btn-primary btn-xl page-scroll green_bg"}%>
        </div>
    </div>
</header>

