<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Goals</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-book wow bounceIn text-primary green"></i>
                    <h3>KNOWLEDGE</h3>
                    <p class="text-muted">Use the knowledge we have learnt to impact people's lives</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe wow bounceIn text-primary green" data-wow-delay=".1s"></i>
                    <h3>WORLD</h3>
                    <p class="text-muted">Internationally seek help to accomplish a goal</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary green" data-wow-delay=".2s"></i>
                    <h3>UNITY</h3>
                    <p class="text-muted">To unite humanity for a brighter future</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary green" data-wow-delay=".3s"></i>
                    <h3>LOVE AND SEX</h3>
                    <p class="text-muted">Spread love and understanding ;)</p>
                </div>
            </div>
        </div>
    </div>
</section>

